@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Oswald:wght@200..700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{ 
  font-family: "Boldonse", system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}
.todo-app{
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 100px rgba(0,0,0,0.5);
  border: 3px solid rgba (255, 255, 255, 0.18);
  backdrop-filter: blur(10px);

}
.todo-app h1 {
  font-size: 2rem;
  color: brown;  
}
.input-area {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
}
.input-area input {
  flex:  1;
  padding: 10px 17px ;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-radius: 22px;
  background: rgba(255, 194, 209, 0.3  );
  color: #120505;

}
.input-area input::placeholder {
  color: #bcbcbc;
} 
.input-area button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 8px;
  border-radius: 50%;
  color: #fff;
  font-size: 1.1rem;
  background-color: rgba(255, 194, 209, 0.3  );
  border: 2px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
  transition: all 0.2s ease;

}
.input-area button:hover {
  transform: scale(1.1);
  background-color: #ff6f91;
}
.todos-container {
  display: flex;
  align-items: center;
  justify-content: center;

}
#task-list {
  width: 100%;
}
#task-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  background: rgba(255,194, 209, 0.3);
  padding: 8px 10px;
  gap: 10px;
  border-radius: 30px;
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
  color: #1b0dda;
  position: relative;

}
#task-list li:hover {
  box-shadow: 0 0 10px rgba(255, 194, 209, 0.3  );

}
 
#task-list li.checkbox {
  min-width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 194, 209, 0.3  );
  background: transparent;
  border-radius: 50px;
  cursor: pointer;
}
#task-list li.checkbox:checked{
  background: #ff6f91;
  transform: scale(1.1);
}
#task-list li.checkbox:checked::before {
  content: '\2713';
  color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem
}
#task-list li span{
  flex: 1;
  margin-left: 10px;
  word-wrap: break-word
}
  .task-buttons {
    display: flex;
    margin-right: auto
  }
  .task-buttons button {
    background-color: #bcbcbc;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: whitesmoke;
    font-size: 0.8rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center   

  }
  .task-buttons .edit-btn {
    background-color:orange
  }
  .task-buttons .delete-btn {
    background-color: #ff6f91
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  ;
